// Modal / bootstrap ------------------------------------------
.modal {
    display: none;
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    &-open {
        overflow: hidden;
    }
    &-close {
        position: absolute;
        width: 26px;
        height: 26px;
        right: 16px;
        top: 13px;
        color: #fff;
        cursor: pointer;
        @include trs(.7s);
        &:before,&:after {
            content: '';
            position: absolute;
            display: block;
            border-top: 1px solid;
            width: 100%;
            top: 50%;
        }
        &:before {
            transform: rotate(45deg);
            @include trs(.3s);
        }
        &:after {
            transform: rotate(-45deg);
            @include trs(.7s);
        }
        &:hover {
            opacity: .8;
            color: #040404;
            transform: rotate(180deg);
            &:before {
                transform: rotate(135deg);
            }
            &:after {
                transform: rotate(45deg);
            }
        }
    }
    &.fade .modal-dialog {
        transform: translate(0,-25%);
        transition: transform .3s ease-out;
    }
    &.in .modal-dialog {
        transform: translate(0,0);
        position: relative;
    }
    &-dialog {
        position: relative;
        width: auto;
        margin: 10px;
    }

    &-content {
        position: relative;
        background-color: #fff;
        border: 1px solid #999;
        border: 1px solid rgba(0,0,0,.2);
        background-clip: padding-box;
        outline: 0;
        margin: 31px auto;
        max-width: 900px;
        border-radius: 6px;
        box-shadow: 0 3px 9px rgba(0,0,0,.5);
        @extend %clear_a;
    }

    &-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #000;
        &.fade {
            opacity: 0;
            filter: alpha(opacity=0);
        }

        &.in {
            opacity: .5;
            filter: alpha(opacity=50);
        }
    }

    &-header {
        padding: 15px 45px 15px 15px;
        min-height: 16.42857143px;
        background-color: #1a83cd;
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        border-bottom: 1px solid #e5e5e5;
        @extend %clear_a;
        .close {
            margin-top: -2px;
        }
    }

    &-title {
        margin: 0;
        line-height: 1.42857143;
    }

    &-body {
        position: relative;
        padding: 0;
        padding: 15px;
        @extend %clear_a;
    }

    &-footer {
        margin-top: 15px;
        padding: 19px 20px;
        text-align: right;
        background-color: #e5e5e5;
        border-top: 1px solid #e5e5e5;
        @extend %clear_a;
        .btn+.btn {
            margin-left: 5px;
            margin-bottom: 0;
        }

        .btn-group .btn+.btn {
            margin-left: -1px;
        }

        .btn-block+.btn-block {
            margin-left: 0;
        }
    }

}



