/*
//  ==========================
//  Evgeniy Ivanov
//  Email: busforward@gmail.com
//  Skype: ivanov_ea
//  ==========================
 */

// Compass extention 
// @import 'compass/css3';
@import "mixins";

// Global variables
// ========================================================================

$footer_height: 								50px;
$grid_padding:									30px;


// Breakpoints 
// ================================================================
$breakpoint-small:                               480px !default;
$breakpoint-medium:                              760px !default;
$breakpoint-large:                               960px !default;
$breakpoint-xlarge:                              1200px !default;

$breakpoint-mini-max:                            ($breakpoint-small - 1) !default;
$breakpoint-small-max:                           ($breakpoint-medium - 1) !default;
$breakpoint-medium-max:                          ($breakpoint-large - 1) !default;
$breakpoint-large-max:                           ($breakpoint-xlarge - 1) !default;




// Fonts
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic';

$main_font_family:								Open Sans, sans-serif;

// Example - @extend %f_bold;
%f_bold {
	font-weight: 600;
}
%f_normal {
	font-weight: 400;
}
%f_light {
	font-weight: 300;
}

// Elements color ==========================================================
// Example for button 
// --------------------------
// for html - btn__primary, btn__success etc...
// --------------------------
// for scss 
// .btn{
// 	@each $status, $color in $el_bg_colors {
// 		&__#{$status} {
// 			background: $color;
// 		}
// 	}
// }
$el-bg-colors: (
	primary: #1a83cd, // color for .element__primary
	success: #27BA6C, // color for .element__success
	info: #03a9f4, // color for .element__info
	warning: #FF8833, // color for .element__warning
	danger: #ff1a1a, // color for .element__danger
);

$el_default_bg_color:							#ddd;
$el_default_bg_color_hover:						#ccc;

$btn_default_text_color:                        #000;
$btn_contrast_text_color:                       #fff;


// Mixin =======================================================================

// Style for columns text 
// Используется для многоколоночного адаптивного текста, а также для списков
// $width - минимальная ширина колонок
// $count - количество колонок (при уменьшении экрана меняются автоматически в зависимости от первого значения)
// $padding - отступ между колонками
// $divider_widh - ширина разделительной линии между колонками
// $divider_line - стиль разделительной линии 
// $divider_color - цвет разделительной линии 
// Лишнее можно просто закомментировать
// ---------------------------------
// Example for html 
// div class="column"
// ---------------------------------
// Example for scss 
// .column {
// 	@include columns-text(300px, 3, 40px, 1px, solid, #000);
// }
@mixin columns-text($width, $count, $padding, $divider_widh, $divider_line, $divider_color) {
	columns: $width $count; // Count and width or columns
	column-gap: $padding; // Padding for columns
	column-rule: $divider_widh $divider_line $divider_color; // Divider for columns
}

%line {
	display: inline-block;
	&:after {
		content: '';
		display: block;
		width: 0;
		border-top: 1px solid;
		margin-top: 1px;
		margin-left: 50%;
		position: relative;
		@include trs(.3s);
	}
	&:hover {
		text-decoration: none;
		&:after {
			content: '';
			margin-left: 0;
			width: 100%;
		}
	}
}


@import "modal";
@import "tabs";
@import "animate";

// End @mixin and variables

// ========================================================================
// Main styles
// ========================================================================
.fl__left {
	float: left;
}

.fl__right {
	float: right;
}

.form__row,.row {
	@extend %clear_a;
	&+* {
		margin-top: 15px;
	}
}

// Reset brouser styles ========================
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

html,body,.wrapper {
	height: 100%;
	position: relative;
	box-sizing: content-box;
}

body { 
	font: 16px $main_font_family;
	line-height: 1.2;
	font-weight: 300;
	color: #666;
}

h1,h2,h3,h4,h5 {
	font-weight: 300;
}

input, textarea {
	outline: 0;
}

a {
	text-decoration: none;
	outline: 0;
	@include trs(.3s);
	&:hover {
		text-decoration: underline;
	}
	&:focus {
		outline: 0;
	}
}

ol,ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.list {
	margin-top: 25px;
	margin-bottom: 25px;
	&>* {
		line-height: 18px;
		padding-left: 15px;
		&:before {
			content: '·';
			font-size: 30px;
			display: inline-block;
			vertical-align: sub;
			margin-right: 5px;
			margin-left: -14px;;
		}
		&+* {
			padding-top: 13px;
		}
	}
}

p {
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
	&.fl__left { // Для картинок с обтекание внутри основного контента сайта
		margin-top: 14px;
		margin-right: 29px;
		margin-bottom: 20px;
	}
	&.fl__right { // Для картинок с обтекание внутри основного контента сайта
		margin-top: 14px;
		margin-bottom: 20px;
		margin-left: 29px;
	}
}

// Main wrappers =====================================

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto (-$footer_height) auto; // отрицательный нижний отступ на высоту футера
    padding-bottom: $footer_height;
}

.container_center {
	max-width: 1200px;
	padding: 0 15px;
	margin-left: auto;
	margin-right: auto;
}

// Input text and textarea ================================================
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=number],
input[type=datetime], 
textarea {
	background-color: white;
	padding: 6px 15px;
	outline: none;
	font-size: 16px;
	font-weight: 300;
	font-family: $main_font_family;
	@include trs(0.3s);
	border: none;
	border-bottom: 1px solid #ccc;
	&:hover {
	}
	&:focus {
		@include placeholder {
			color: red;
			text-indent: -300px;
		}
	}
	&.input_error {
		background-color: #fff0f0;
		border: 1px solid red;
	}
	// Placeholder for input +++++++++++++++
	@include placeholder {
		@include trs(.3s);
		color: #b3b3b3;
		text-indent: 0;
	}
}

textarea {
	min-height: 100px;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto;
}

// Input checkbox and radio ===============================================
input[type=checkbox],
input[type=radio] {
	padding: 0;
}

input[type=checkbox]:not(:disabled),
input[type=radio]:not(:disabled) {
    cursor: pointer;
}

input[type=checkbox],
input[type=radio] {
    display: inline-block;
    height: 14px;
    width: 14px;
    border: 1px solid #aaa;
    overflow: hidden;
    margin-top: -4px;
    vertical-align: middle;
    -webkit-appearance: none;
    outline: 0;
    background: 0 0;
    text-align: center;
    position: relative;
}

input[type=radio] {
    border-radius: 50%;
}

input[type=checkbox]:before,
input[type=radio]:before {
    display: block;
}

input[type=radio]:checked:before {
    content: '';
    width: 6px;
    height: 6px;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -3px;
    display: block;
    position: absolute;
    border-radius: 50%;
    background: #000;
}

input[type=checkbox]:checked:before,
input[type=checkbox]:indeterminate:before {
    content: "\2714";
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    line-height: 13px;
    color: #000;
}

input[type=checkbox]:indeterminate:before {
    content: "\f068";
}

input[type=checkbox]:disabled,
input[type=radio]:disabled {
    border-color: #ddd;
}

input[type=radio]:disabled:checked:before {
    background-color: #aaa;
}

input[type=checkbox]:disabled:checked:before,
input[type=checkbox]:disabled:indeterminate:before {
    color: #aaa;
}

.error {
	color: red;
}
// End @mixin and variables

// Grid
// ------------------------
// Example - for html
// <div class="grid grid__1_3 ">
// 	<div class="grid__wrapper">
//		...
// 	</div>
// 	<div class="grid__wrapper">
//		...
// 	</div>
// 	<div class="grid__wrapper">
//		...
// 	</div>
// </div>
// ------------------------
.grid {
	margin-left: -$grid_padding;
	box-sizing: content-box;
	@include flex();
	@include flex-flow(row wrap);
	@extend %clear_all;
	&-nowrap {
		@include flex-flow(row nowrap);
	}
	>div {
		padding-left: $grid_padding;
		margin-bottom: $grid_padding;
		&.width {
			&_1 {
				width: 50%;
			}
			&_2 {
				width: 50%;
			}
			&_3 {
				width: 33.3%;
			}
			&_4 {
				width: 25%;
			}
			&_5 {
				width: 20%;
			}
			&_2_3 {
				width: 66%;
			}
			&_3_4 {
				width: 75%;
			}
		}
	}
	&__item {
		// border: 1px solid #000;
		&.active {
			// border: 3px solid #ddd;
		}
	}
	&__1 {
		>div {		
			width: 100%;
		}
	}
	&__2 {
		>div {		
			width: 50%;
		}
	}
	&__3 {
		>div {
			width: 33.3%;
		}
	}
	&__4 {
		>div {		
			width: 25%;
		}
	}
	&__5 {
		>div {		
			width: 20%;
		}
	}
}

// Style for button and pseudo button for input and link
.btn {
	color: $btn_default_text_color;
	font-family: $main_font_family;
	font-size: 16px;
	font-weight: 300;
	padding: 5px 15px 7px;
	border: none;
	outline: none;
	text-decoration: none;
	display: inline-block;
	background-color: $el_default_bg_color;
	text-align: center;
	max-width: 100%;
	cursor: pointer;
	border-radius: 30px;
	@include trs(0.3s);
	&:hover {
		background-color: $el_default_bg_color_hover;
	}
	@each $status_el, $color_el_bg in $el_bg_colors {
		&__#{$status_el} {
			background: $color_el_bg;
			color: $btn_contrast_text_color;
			&:hover {
				background: $color_el_bg + #333333;
			}
		}
	}	
}

// Style for columns text
.column {
	@include columns-text(300px, 3, 40px, 0px, solid, #000);
}


// Social link
.soc {
	float: left;
	a {
		display: inline-block;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: #000;
		text-align: center;
		text-decoration: none;
		@include trs(0.3s);
		&:hover {
			opacity: .8;
		}
		&:before {
			content: 'soc';
			color: #fff;
			text-decoration: none;
		}
	}
}

.copy {
	float: right;
	color: lighten(#000, 50%);
	color: darken(#000, 50%);
}

.bg_canvas {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 100%;
	z-index: 0;
	// max-height: 100%;
}

section {
	position: relative;
}


/* Header
 ----------------------------------------------------------------------------- */
.header {
	background-color: transparent;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 44px;
	@include trs(.5s);
	@extend %clear_a;
	z-index: 6;
}

.logo {
	float: left;
	display: block;
	&_main {

	}
	&_sticky {
		display: none;
	}
}

.navbar {
	overflow: hidden;
	text-align: right;
	padding-top: 14px;
	&__item {
		display: inline-block;
		margin: 0 5%;
		@include trs(.5s);
		&:last-child {
			margin-right: 0;
		}
	}
	&__link {
		color: #fefefe;
		font-size: 13px;
		font-weight: 300;
		text-transform: uppercase;
		@include trs(.5s);
		@extend %line;
	}
}


// stiky menu
.stiky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #fff;
	box-shadow: 0 0 4px rgba(0, 137, 254, 0.1);
	z-index: 1000;
	.logo {
		&_main {
			display: none;
		}
		&_sticky {
			display: block;
		}
	}
	.navbar {
		padding-top: 7px;
		&__item {
			margin: 0 15px;
		}
		&__link {
			color: #4d4d4d;
			&:hover,&.active {
				color: #20a3ff;
				text-decoration: none;
			}
		}
	}

}


/* Middle
 ----------------------------------------------------------------------------- */
.section_title {
	color: #1a83cd;
	font-size: 48px;
	margin: 1% 0;
	text-align: center;
	.section_subtitle {
		display: inline-block;
		vertical-align: baseline;text-align:left;
		color: #4d4d4d;
		font-size: 13px;
		line-height: 18px;
	}
}


.bgvideo {
	position: absolute;
	left: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 1;
}

.first_screen {
	background: url('../img/first-screen.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
	.container_center {
		display: table;
		width: 100%;
		position: relative;
		z-index: 3;
	}
	&_wrapper {
		display: table-cell;
		vertical-align: middle;
	}
	&_title {
		color: #fefefe;
		font-size: 72px;
		font-weight: 100;
		text-transform: uppercase;
		margin-bottom: 8%;
		line-height: 86px;
	}
	&_btn {
		width: 270px;
		height: 59px;
		background-color: #20a3ff;
		color: #fefefe;
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
		border-radius: 29px;
		box-shadow: 0 7px 15.5px 2.5px rgba(0, 0, 0, 0.24);
		&:hover {
			background-color: #14b4ff;
			box-shadow: 0 0 24px rgba(0, 137, 254, 0.64);
		}
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 137, 254, 0.4);
		z-index: 2;
		display: block;
	}
}
.modal {
	.grid_pricing_item_form {
		margin: 0;
		padding: 10px;
	}
	.btn__primary {
		position: relative;
		padding: 12px 29px 13px 40px;
		margin-bottom: -15px;
		width: 250px;
		&:before {
			content: url('../img/plain.png');
			position: absolute;
			left: 13px;
			top: 10px;
		}
	}
	&-footer {
		background-color: transparent;
		border-top: 0;
		text-align: center;
		padding: 0;
		margin-bottom: -9px;
		margin-top: 0;
	}
	&-header {
		border-radius: 4px 4px 0 0;
	}
}
.errore_tooltip {
	position: absolute;
	color: #f00;
	font-size: 12px;
	margin-top: 5px;
	margin-left: 15px;
}

// About ----------------------------------------------------------------------
.about {
	.container_center {
		display: table;
		width: 100%;
		// background: url('../img/arrow_long.png') no-repeat center center;
		padding: 2% 15px;
	}
	.section_title {
		font-size: 0;
		opacity: 0;
		@include trs(.8s);
		&.open {
			opacity: 1;
			font-size: 43px;
		}
	}
	&_wrapp {
		display: table-cell;
		vertical-align: middle;
		@include trs(.8s);
	}
	&_grid {
		max-width: 970px;
		margin: 0 auto 3%;
		@include flex-flow(row nowrap);
		.grid__item {}
	}
	&_title {
		color: #1a83cd;
		font-size: 36px;
		margin-bottom: 3%;
		&+.typed-cursor {
			display: none;
		}
	}
	&_text {
		line-height: 1.5;
	}
}
.my_photo {
	display: inline-block;
	border-radius: 50%;
	background-color: #1a83cd;
	position: relative;
	margin: 4px;
	padding: 20px;
	&:before {
		content: '';
		border: 2px dotted #b3b3b3;
		position: absolute;
		top: -5px;
		right: -5px;
		bottom: -5px;
		left: -5px;
		border-radius: 50%;
	}
	img {
		display: block;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
	}
}

.typed-cursor{
    opacity: 1;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.skills {
	&_grid {
		margin-left: 0;
		margin-top: 56px;
		// overflow: hidden;
		text-align: center;
		@include flex-flow(row nowrap);
		@include trs(.5s);
		&.open {
			// height: auto;
			// .grid__wrapper {
			// 	width: 24.5%;
			// 	opacity: 1;
			// }
		}
		.grid__wrapper {
			padding-left: 0;
			position: relative;
			// width: 0;
			// opacity: 0;
			float: left;
			display:inline-block;
			@include trs(2s);
			// &:before {
			// 	content: '';
			// 	display: block;
			// 	position: absolute;
			// 	width: 76%;
			// 	padding-bottom: 76%;
			// 	top: 11.9%;
			// 	left: 13%;
			// 	border: 2px dotted #b3b3b3;
			// 	border-radius: 50%;
			// 	// background: url('../img/dotted_round.png') no-repeat center center;
			// }
		}
		.grid__item {
			position: relative;
			&:before {
				content: '';
				display: block;
				position: absolute;
				width: 54%;
				padding-bottom: 54%;
				top: 24.300000000000001%;
				left: 24.1%;
				border: 2px solid #20a3ff;
				border-radius: 50%;
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				width: 72%;
				padding-bottom: 72%;
				top: 15.3%;
				left: 15%;
				border: 2px solid #20a3ff;
				border-radius: 50%;
			}
		}
	}
	&_name {
		position: absolute;
		left: 37%;
		top: 39%;
		font-weight: 700;
		color: #999;
		font-size: 14px;
	}
	&_percent {}
}


// Portfolio -------------------------------------------------------------------
.portfolio {
	.container_center {
		padding: 2% 15px;
	}
	&_filter {
		margin: 3% 0;
		@extend %clear_a;
		&_link {
			color: grey;
			border: 1px solid #a6a6a6;
			padding: 6px 36px;
			display: inline-block;
			margin-right: 7px;
			position: relative;
			overflow: hidden;
			@include trs(.3s);
			border-radius: 17px;
			&:after {
				content: '';
				@include trs(.5s);
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: 0;
				z-index: -1;
				background-color: #20a3ff;
			}
			&:hover,&.active {
				// background-color: #20a3ff;
				border-color: #20a3ff;
				color: white;
				text-decoration: none;
				border-radius: 17px;
				&:after {
					width: 100%;
				}
			}
		}
	}
	&_grid {
		.grid__wrapper {
			position: relative;
			padding-bottom: 30px;
			overflow: hidden;
			@include trs(.5s);
			&.hidden {
				display: none;
			}
		}
		.grid__item {
			position: relative;
			cursor: pointer;
			overflow: hidden;
			padding-bottom: 69.9%;
			// border: 1px solid #20a3ff;
			&:hover {
				.portfolio_overlay {
					top: 0;
					left: 0;
					opacity: 1;
					width: 100%;
					height: 100%;
					padding: 11% 12%;
					bottom: 0;
					right: 0;
					&_title {
						color: white;
						font-size: 26px;
						line-height: 32px;
					}
					&_link {
						font-size: 16px;
						&:before {
							content: url('../img/port_link.png');
							width: 35px;
							height: 35px;
						}
					}
					&_text {
						font-size: 14px;
					}
				}
				img {
					opacity: .8;
				}
			}
			&>* {
				position: absolute;
			}
			img {
				min-width: 100%;
				min-height: 100%;
				@include trs(.8s);
			}
		}
	}
	&_overlay {
		top: 50%;
		left: 50%;
		width: 0;
		height: 0;
		padding: 5;
		background-color: rgba(32, 163, 255, 0.9);
		opacity: 0;
		@include trs(.5s);
		overflow: hidden;
		display: block;
		&_wrapp {
			display: table;
			width: 100%;
			height: 100%;
			&_midle {
				display: table-cell;
				vertical-align: middle;
			}
		}
		&_title {
			color: white;
			font-size: 0px;
			margin-bottom: 5px;
			@include trs(.5s);
		}
		&_link {
			display: block;
			color: white;
			font-size: 0;
			font-weight: 700;
			margin-top: 16px;
			&:before {
				content: url('../img/port_link.png');
				width: 0;
				height: 0;
				display: inline-block;
				vertical-align: middle;
				margin-right:8px;
				@include trs(.5s);
			}
			&:hover {
				text-decoration: none;
				&:before {
					transform: rotate(90deg);
				}
			}
		}
		&_text {
			font-size: 0;
			color: #fff;
			@include trs(.5s);
		}
		&_hash {
			color: #fff;
			font-size: 11px;
			margin-top: 8px;
			font-weight: 600;
		}
	}
	&_more_btn {
		background-color: transparent;
		border: 1px solid #a6a6a6;
		padding: 13px;
		display: block;
		margin: 2% auto 3%;
		width: 270px;
		color: #666;
		text-transform: uppercase;
		border-radius: 0;
		&:hover {
			background-color: #20a3ff;
			border-color: #20a3ff;
			color: #fff;
		}
	}
	.hidden {
		width: 0;
		padding-left: 0;
		opacity: 0;
	}
	.visiblity {
		width: 33.299999999999997%;
		opacity: 1;
	}
}

// Technology ------------------------------------------------------------------
.technology {
	background-color: #f7f7f7;
	overflow: hidden;
	.container_center {
		padding: 2% 15px;
	}
	&_slider {
		margin: 5% 0;
		text-align: center;
		&_item {
			display: table !important;
			width: 100%;
		}
		&_img {
			display: table-cell;
			vertical-align: middle;
			width: 100%;
			text-align: center;
			img {
				max-height: 80px;
				display: inline-block;
			}
		}
	}
}

// Review ----------------------------------------------------------------------
.review {
	background-color: #1a83cd;
	position: relative;
	overflow: hidden;
	&:before {
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 1px;
		background-color: #fff;
		top: 2px;
		left: 0;
	}
	&:after {
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 1px;
		background-color: #fff;
		bottom: 2px;
		left: 0;
	}
	.container_center {
		padding: 2% 15px;
	}
	.section_title {
		color: #fff;
	}
	&_slider {
		max-width: 960px;
		margin: 0 auto;
	}
	&_slider_item {
		color: #fff;
		font-weight: 400;
		// text-align: center;
		p {
			margin: 15px 0;
			line-height: 1.7;
		}
	}
	&_slider_name {
		padding-top: 10px;
		font-weight: 700;
		a {
			color: #fff;
			@extend %line;
		}
	}
	.slick-dots button {
		background-color: transparent;
		border: 1px solid #fff;
	}
	.slick-dots li {
		margin-right: 1%;
		margin-left: 1%;
		&.slick-active button {
			background-color: #fff;
			border-color: #fff;
		}
	}
}

// Pricing ---------------------------------------------------------------------
.price {
	.section_title {
		margin-top: 60px;
		margin-bottom: 40px;
	}
}
.grid_pricing {
	margin-top: 30px;
	margin-left: -20px;
	margin-bottom: 70px;
	@include flex-flow(row nowrap);
	.grid {
		margin-left: -20px;
	}
	.grid__wrapper {
		padding-left: 20px;
		// padding-bottom: 20px;
	}
	&_first {
		max-width: 270px;
	}
	&_item {
		border: 1px solid #ccc;
		padding: 15px;
		margin-bottom: 20px;
	}
	&_title {
		color: #1a83cd;
		font-weight: 600;
		font-size: 40px;
		text-align: center;
		margin-bottom: 15px;
	}
	&_description {}
	&_attention {
		color: #1a83cd;
	}
	&_item_form {
		max-width: 900px;
		padding: 25px 40px;
		position: relative;
	}
	.btn__primary {
		bottom: -24px;
		position: absolute;
		padding: 12px 15px 13px 50px;
		width: 150px;
		left: 50%;
		margin-left: -75px;
		&:before {
			content: url('../img/plain.png');
			position: absolute;
			left: 13px;
			top: 10px;
		}
	}
	.form {
		&__legend {
			margin-bottom: 25px;
		}
		&__input {
			width: 100%;
			&.error {
				border-bottom-color: #f00;
			}
		}
	}
	.form__row {
		text-align: center;
	}
	textarea {
		width: 100%;
		margin-bottom: 10px;
	}
}

.rezult {
	.error {
		color: #f000;
	}
	.success {
		color: #1a83cd;
		font-size: 16px;
		font-weight: 600;
	}
}

.file_upload {
	position: relative;
	overflow: hidden;
	@extend %clear_a;
	&_rezult {
		display: block;
		overflow: hidden;
		padding-top: 7px;
		white-space: nowrap;
		padding-right: 20px;
		text-overflow: ellipsis;
		position: relative;
	}
	&_del {
		position: absolute;
		right: 0;
		vertical-align: middle;
		display: inline-block;
		&:before {
			content: '✖';
			vertical-align: middle;
			margin: 0 9px;
			color: #f00;
			cursor: pointer;
		}
	}
	button {
		margin-right: 8px;
		float: left;
	}
	input[type=file] {
		position: absolute;
		opacity: 0;
		left: 0;
		top: 0;
		height: 0%;
		z-index: -1;
	}
}
.loader {
	text-align: center;
	&:before {
		// content: url('../img/loader.gif');
		// display: inline-block;
	}
}

.load-clock{
	display: inline-block;
	border-radius: 15px;
	border: 2px solid rgb(26,131,205);
	height: 22px;
	width: 22px;
	position: relative;
	&:after{
		content: "";
		position: absolute;
		background-color: rgb(26,131,205);
		top:0px;
		left: 48%;
		height: 9px;
		width: 1px;
		border-radius: 1px;
		transform-origin: 50% 97%;
			-o-transform-origin: 50% 97%;
			-ms-transform-origin: 50% 97%;
			-webkit-transform-origin: 50% 97%;
			-moz-transform-origin: 50% 97%;
		animation: grdAiguille 3.8s linear infinite;
			-o-animation: grdAiguille 3.8s linear infinite;
			-ms-animation: grdAiguille 3.8s linear infinite;
			-webkit-animation: grdAiguille 3.8s linear infinite;
			-moz-animation: grdAiguille 3.8s linear infinite;
	}



	&:before{
		content: "";
		position: absolute;
		background-color: rgb(26,131,205);
		top:1px;
		left: 48%;
		height: 7px;
		width: 1px;
		border-radius: 1px;
		transform-origin: 50% 94%;
			-o-transform-origin: 50% 94%;
			-ms-transform-origin: 50% 94%;
			-webkit-transform-origin: 50% 94%;
			-moz-transform-origin: 50% 94%;
		animation: ptAiguille 22.8s linear infinite;
			-o-animation: ptAiguille 22.8s linear infinite;
			-ms-animation: ptAiguille 22.8s linear infinite;
			-webkit-animation: ptAiguille 22.8s linear infinite;
			-moz-animation: ptAiguille 22.8s linear infinite;
	}
}



@keyframes grdAiguille{
		0%{transform:rotate(0deg);}
		100%{transform:rotate(360deg);}
}

@-o-keyframes grdAiguille{
		0%{-o-transform:rotate(0deg);}
		100%{-o-transform:rotate(360deg);}
}

@-ms-keyframes grdAiguille{
		0%{-ms-transform:rotate(0deg);}
		100%{-ms-transform:rotate(360deg);}
}

@-webkit-keyframes grdAiguille{
		0%{-webkit-transform:rotate(0deg);}
		100%{-webkit-transform:rotate(360deg);}
}

@-moz-keyframes grdAiguille{
		0%{-moz-transform:rotate(0deg);}
		100%{-moz-transform:rotate(360deg);}
}

@keyframes ptAiguille{
		0%{transform:rotate(0deg);}
		100%{transform:rotate(360deg);}
}

@-o-keyframes ptAiguille{
		0%{-o-transform:rotate(0deg);}
		100%{-o-transform:rotate(360deg);}
}

@-ms-keyframes ptAiguille{
		0%{-ms-transform:rotate(0deg);}
		100%{-ms-transform:rotate(360deg);}
}

@-webkit-keyframes ptAiguille{
		0%{-webkit-transform:rotate(0deg);}
		100%{-webkit-transform:rotate(360deg);}
}

@-moz-keyframes ptAiguille{
		0%{-moz-transform:rotate(0deg);}
		100%{-moz-transform:rotate(360deg);}
}
// Contact ---------------------------------------------------------------------
.contact {
	color: #fff;
	background: url('../img/contact_bg.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	.container_center {
		padding: 8% 15px;
		max-width: 960px;
	}
	.section_title {
		color: #fff;
		text-align: left;
	}
	.contact_text {
		line-height: 2.3;
		margin: 5% 0;
	}
	.contact_links {
		a {
			color: #fff;
			font-size: 18px;
			margin-right: 5%;
			// @extend %line;
			&:before {
				@include trs(.5s);
			}
			&:hover {
				text-decoration: none;
				&:before {
					transform: rotateY(180deg);
				}
			}
		}
	}
}
.icon_mail {
	&:before {
		content: url('../img/mail.png');
		display: inline-block;
		margin-right: 15px;
		vertical-align: middle;
	}
}
.icon_skype {
	&:before {
		content: url('../img/skype.png');
		display: inline-block;
		margin-right: 15px;
		vertical-align: middle;
	}
}

/* Footer
 ----------------------------------------------------------------------------- */
.footer {
	position: relative;
	height: $footer_height;
	background-color: #1568a2;
	padding: 18px 0;
	color: #fff;
	font-size: 13px;
	overflow: hidden;
	.container_center {
		position: relative;
		z-index: 2;
	}
	@extend %clear_all;
	a {
		color: #fff;
		@extend %line;
	}
	&_center {
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* Responsive styles
----------------------------------------------------------------------------- */
// max-width: 1200px ===========================================================
@media (max-width: $breakpoint-xlarge) {
}

// max-width: 960px ===========================================================
@media (max-width: $breakpoint-large) {
	
}

// max-width: 760px ===========================================================
@media (max-width: $breakpoint-medium) {
	
}

// max-width: 480px ===========================================================
@media (max-width: $breakpoint-small) {
	
}


